
  body {
      height: 100%;
      margin-top: 5%;
    }
    
    body {
      display: flex;
      align-items: center;
      margin-left: 40%;
      margin-right: 40%;
      background-color: #1DFAA8;
    }
  
    
    .form-signin {
      width: 100%;
      margin: auto;
    }
    
    .form-signin .checkbox {
      font-weight: 400;
    }
    
    .form-signin .form-floating:focus-within {
      z-index: 2;
    }
    
    .form-signin input[type="email"] {
      margin-top: 10%;
      border-radius: 49px;
    }
    
    .form-signin input[type="password"] {
      margin-top: 5%;
      margin-top: 6%;
      border-radius: 49px;
    }
  
    .w-50 {
      margin-top: 10%;
      border-radius: 49px;
    }